@page
@model NguyenDanhHungRazorPages.Pages.News.EditModel

<h2>Edit News</h2>
<form method="post">
    <input type="hidden" asp-for="News.NewsArticleId" />

    <div>
        <label>News Title</label>
        <input type="text" asp-for="News.NewsTitle" class="form-control" required />
    </div>

    <div>
        <label>Headline</label>
        <input type="text" asp-for="News.Headline" class="form-control" required />
    </div>

    <div>
        <label>News Content</label>
        <textarea asp-for="News.NewsContent" class="form-control"></textarea>
    </div>

    <div>
        <label>News Source</label>
        <input type="text" asp-for="News.NewsSource" class="form-control" />
    </div>

    <div>
        <label>Category</label>
        <select asp-for="News.CategoryId" asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))" class="form-control"></select>
    </div>

    <div>
        <label>News Status</label>
        <select asp-for="News.NewsStatus" class="form-control">
            <option value="true">Active</option>
            <option value="false">Inactive</option>
        </select>
    </div>
    <div>
        <label>Tags</label>
        @foreach (var tag in Model.AllTags)
        {
            <div>
                <input type="checkbox" name="tagIds" value="@tag.TagId"
                @(Model.News.Tags.Any(t => t.TagId == tag.TagId) ? "checked" : "") />
                <label>@tag.TagName</label>
            </div>
        }
    </div>


    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="Index" class="btn btn-primary btn btn-danger">Back to News</a>
</form>

